body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 0;
  margin: 0 30px 0 30px;
}
p,
h1,
h2,
h3 {
  margin: 0;
}
img {
  width: 100%;
  display: block;
  border-radius: 4px;
}
.cima {
  display: flex;
  justify-content: center;
}

.cima a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  margin: 0 10px 0 10px;
}
.introducao {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  justify-items: center;
  font-size: 2rem;
  gap: 30px;
}

.introducao h1 {
  text-align: right;
  grid-column: 1;
}

.introducao h2 {
  font-size: 2rem;
  grid-column: 1;
}

.introducao lugar {
  justify-content: end;
  grid-column: 2;
}

.introducao logo {
}
.btn-agendamento {
  font-size: 1.5rem;
  background-color: purple;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  padding: 10px 20px;
  grid-column: 1;
  justify-self: center;
}

.btn-agendamento:hover {
  background-color: darkmagenta;
}

/* @keyframes aaaa {
}
.animation {
  animation-name: aaaa;
  animation-iteration-count: infinite;
} */
