/* BODY E RESETS */
body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: #f2f7f2;
  margin: 0;
  margin: 0 40px 0 40px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* HEADER */
header {
  display: flex;
  /* lembrar de usar essa coisas aqui: */
  flex-wrap: wrap;
  height: 160px;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

header a {
  font-size: 1.5rem;
  color: #f2f7f2;
  text-decoration: none;
  width: max-content;
  position: relative;
  padding: 20px;
}

header a:hover {
  color: #f3b31e;
  transition: 0.2s;
}
header a::after {
  content: "";
  position: absolute;
  background-color: #f3b31e;
  width: 0;
  height: 4px;
  border-radius: 2px;
  bottom: 0;
  left: 0;
}
header a:hover::after {
  transition: 0.3s;
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.logo {
  height: 120px;
  width: 120px;
}

img {
  width: 80%;
  display: block;
  border-radius: 4px;
}
/*  */
/* CONTEUDO */
/*  */
.introducao {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;

  /* alinhar melhor */
  align-items: center;
  font-size: 2rem;
  padding: 30px;
}

.introducao h1 {
  /* primeira linha para organizar */
  grid-row: 1;
  grid-column: 1;
}

.introducao h2 {
  font-size: 2.2rem;
  grid-column: 1;
  /* segunda linha para organizar */
  grid-row: 2;
}

.introducao .lugar {
  grid-column: 2;
  /* ocupa até a 3 parte da linha */
  grid-row: 1 / span 3;
}

.btn-agendamento {
  font-size: 1.6rem;
  background-color: rgba(146, 8, 168, 1);
  color: #f2f7f2;
  text-decoration: none;
  border-radius: 40px;
  padding: 20px 30px;
  /* terceira linha para organizar */
  grid-row: 3;
}

.btn-agendamento:hover {
  background-color: #b309cd;
  transition: 0.3s;
}

/* FOOTER */
